# ========================================
# DATABASE
# ========================================
MONGODB_URI=

# ========================================
# AUTH.JS v5
# ========================================
# Tạo bằng lệnh: pnpm dlx auth secret
AUTH_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXTAUTH_URL=http://localhost:3000

# ========================================
# UPLOADTHING
# ========================================
UPLOADTHING_TOKEN=

# ========================================
# NEXT.JS
# ========================================
NEXT_PUBLIC_APP_URL=http://localhost:3000
